
body{
  font-family: "Jost", "Open Sans", sans-serif;
  font-style: normal;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.first_page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1046px;
  background-color: #EEEFF1;
  display: flex;
  justify-content: center;
}
/* <-----------------------------Заголовок----------------------------> */
.header_main {
  position: relative;
  width: 100%;
  max-width: 1240px;
  padding-inline: 100px;
  height: 56px;
  font-size: 15px;
  top: 24px;
  left: 100;
  margin: 0 auto;
}
.hd1 {
  display: flex;
  justify-content: flex-end;
  gap: 0px 40px;
}
.logo
{
  flex-grow: 1;
}
.block_text {
  color: #1B1B1D;
  line-height: 21.68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px 40px;
}
.block_button{
  display: flex;
  justify-content: flex-end;
  gap: 0px 20px;
}
.button {
  width: 56px;
  height: 56px;
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 0;
  box-shadow:  0px 12px 30px 8 px rgba(205, 209, 214, 0.28);
  cursor: pointer;
}
.button:active{
  background: #EEEFF1;
}
.button1{
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 208px;
  height: 56px;

  background-color: #1B1B1D;
  box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  color:white;
  line-height: 26px;
  cursor: pointer;
}
.butt_text{

  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;

  color: #FFFFFF;
  cursor: pointer;

}


/* <-----------------------------Основная страница----------------------------> */
.main_page{
  position: absolute;
  width: 1240px;
  height: 712px;
  top: 204px;
  margin: 0, auto;
}
.image1{
  position: absolute;
  width: 680.25px;
  height: 712px;
  left: 560px;
  
}
.image2{
  position: absolute;
  width: 139.94px;
  height: 113px;
  left: 1067.27px;
  top: 31px
}
.rec{
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 272.1px;
  height: 140px;
  left: 602.76px;
  top: 391px;

}
.rec_el{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 232px;
  height: 100px;

}
.rec_text{
  width: 232px;
  height: 52px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  color: #64646A;

}
.mask{
  position: absolute;
  width: 508.28px;
  height: 562.5px;
  left: 689.91px;
  top: 92px;
}
.main_text{
  position: relative;
  width: 597px;
  height: 420px;
  font-weight: 700;
  font-size: 124px;
  line-height: 140px;
  color: #1B1B1D;
}
.add_text{
  width: 530px;
  height: 70px;
  font-weight: 200;
  font-size: 24px;
  line-height: 35px;
  color: #64646A;
}
.first_block{
  width: 626px;
  height: 650px;
  position: relative;
}
.button_main{
  position: absolute;
  top: 560px;
  padding: 0px;
  gap: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.butt_DA{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 225px;
  height: 70px;
  background: #1B1B1D;
  border-radius: 126px;
  cursor: pointer;
}
.link{
  display: flex;
  flex-wrap: wrap;
  width: 121px;
  height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1B1B1D;
  cursor: pointer;
}