@media (max-width: 800px) {

  .first_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .hd1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .logo {
    flex-grow: 0;
  }

  .block_text {
    gap: 0px 40px;
  }

  .main_page {
    position: relative;
    left: 0;
    height: auto;
    flex-direction: column;
  }

  .first_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .main_text,
  .EOA_text {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .add_text,
  .add_text_next,
  .WMOC_text {
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: auto;
  }

  .button_main {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .photo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap:50px;
  }

  .image1 {
    position: absolute;
    left: 0;
    top:0;
    object-fit: cover;
    width: 0px;
    height: 100px;
  }

  .mask {
    display: none;
  }

  .image2 {
    position: relative;
    padding-top: 50px;
    left: 0;
    top: 0;
  }

  .rec {
    position: relative;
    left: 0;
    top: 0;
  }

  .EOA_header {
    position: relative;
  }

  .main_text_next {
    width: 100%;
    gap: 30px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .text_block_next{
    width: 100%;
    align-items: center;
  }
  .OUTFTG{
    text-align: center;
  }
  .AOL{
    text-align: center;
  }

  .next_menu {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .OrderYou {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .main_cup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text_cup {
    align-items: center;

  }

  .cup {
    scale: 0.7;
    width: 100%;
    height: 100%;
  }

  .OYFC {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    width: 70%;
    height: auto;
  }

  .Aa {
    font-size: 20px;
    text-align: center;
    width: 70%;
    height: auto;
  }

  .WOCS {
    position: relative;
  }

  .header_text {
    width: 100%;
  }

  .WOCS_text {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    width: 50%;
    height: auto;
  }

  .container {
    justify-content: flex-start;
    gap: 0px;
  }

  .first_asses,
  .second_asses {
    width: 50%;
    height: 50%;

  }

  .BS,
  .IW {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .BS_asses,
  .IW_asses {
    align-items: center;
  }

  .BS_text,
  .IW_text {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #1B1B1D;
  }

  .BS_main_text,
  .IW_main_text {
    width: 70%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .information {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px
  }

  .ACA,
  .SLFOOU {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    gap: 26px;
    scale: 0.9;
  }

  .WMOC,
  .SL,
  .FOOU {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .WMOC_text {
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: auto;
  }

  .end_part {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .ToUPP {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .swiper-wrapper {
    width: 499.56px !important;
  }
}