@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-ExtraBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-SemiBold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
  }